body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("log\ logo.jpg");
  background-size: cover;
  background-position-y: 50px;
  background-repeat: no-repeat;
}

#login-container,
#dashboard {
  background: #9ac3df;
  padding: 40px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button:hover {
  background-color: rgb(133, 129, 129);
  color: black;
  cursor: pointer;
  transition: 1s;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
  color: black;
  padding: 8px;
  text-align: center;
}
